@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primaryColor: #0000ff;
  --backPrimary: #eef9fa;
  --backSecond: #fcfbfe;
}

.robotoCondensed {
  font-family: "Roboto Condensed", sans-serif;
}

.saira {
  font-family: "Saira", sans-serif;
}

.btnNav {
  background-color: var(--primaryColor);
  border-radius: 50px;
  color: #fff;
  height: 3rem;
  width: 10rem;
  animation: scale 2s infinite;
  transition: all 0.3s;
  border: 2px solid var(--primaryColor);
  font-weight: 550;
}

.btnNav:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #000;
  border: 2px solid var(--primaryColor);
  transition: all 0.3s;
  font-weight: 550;
}

.itemNav {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: all 0.3s;
}

.itemNav:hover {
  border-bottom: 2px solid var(--primaryColor);
  transition: all 0.3s;
}

.primaryColor {
  color: var(--primaryColor);
}

.input {
  border: 2px solid #000;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  width: 100%;
}

.btn {
  background-color: var(--primaryColor);
  width: 100%;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 5px;
  padding: 0.5rem;
}

.card {
  width: 25rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  border-radius: 10px;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.circle {
  background-color: var(--backPrimary);
  border-radius: 50%;
  top: 30vh;
  left: -2rem;
}

.cuadro {
  background-color: var(--backSecond);
  width: 32rem;
  height: 32rem;
  left: 38%;
}

.circleMd {
  background-color: var(--backPrimary);
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  top: 59vh;
  right: 0;
}
